<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>31066476138-69i17kg1n2dtco7cnedn5n1tqv0kludd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.31066476138-69i17kg1n2dtco7cnedn5n1tqv0kludd</string>
	<key>API_KEY</key>
	<string>AIzaSyAEMJcv3g-1CUJcDeE6a2HYfBcclHnAucQ</string>
	<key>GCM_SENDER_ID</key>
	<string>31066476138</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Collective.Collective</string>
	<key>PROJECT_ID</key>
	<string>collective-27f47</string>
	<key>STORAGE_BUCKET</key>
	<string>collective-27f47.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:31066476138:ios:5f1553454c3dc73cf44413</string>
</dict>
</plist>